.hr {
margin-top: 20px;
margin-bottom: 20px;
}

.ShowContentBtn {
  background-color: #009da3;
  width: 200px;
   animation: moveInBottom 0.5s ease-out .75s;
   animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }


  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
