.trueColor {
    color: #00aa00;
    font-size: 24px;
}

.falseColor {
    color: #cd0023;
    font-size: 24px;
}

.ToggleBtn{
    background-color: #009da3;
    animation: moveInLeft 2s ease-in-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    80% {
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}