.userList {
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divWrapper {
    width: 200px;
    animation: moveInRight 2s ease-in;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    80% {
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

